profiles {
    googlebatch {
        process.executor = "google-batch"
        google.project = "brcanalysis"
        google.location = "europe-west1"
        google.batch.bootDiskSize = "10.GB"
    }
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u 0'
        //docker.runOptions      = '-u \$(id -u):\$(id -g)'
    }
    wave {
        wave.enabled = true
        wave.strategy = ['container','dockerfile']
    }
    fusion {
        fusion.enabled = true
        process.scratch = false
    }
    test {
        input = "gs://ngdx-runs/Analysis/WGS/prova/DARGENIO/Sentieon/DNAseq/Sample-G3_240520_DNAhaplotyper2.vcf"
        outdir = "gs://ngdx-scratch-west1/VEP"
        idx = "gs://ngdx-runs/references/index/BWA/GCA_000001405.15_GRCh38_no_alt_analysis_set/"
    }
}